{%extends "base2.html"%}
{%block title%}About{%endblock%}
{%block content%} 
<div class="jumbotron">
    <h1 class="display-4" style="text-align:center">Tujuan</h1>
    <p class="lead"style="text-align:center">Deteksi Kematangan Buah Apel merupakan penilitian menggunakan Convolutional Neural Network yang dibuat untuk mempermudah para produsen buah apel lokal di daerah Malang</p>
    <hr class="my-4">
    <p style="text-align:center">Apel</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </p>
</div>
<footer class="container">
    <p style="text-align:center">&copy; 2021 Kevin Cliff Gunawan &middot; </p>
  </footer>
{%endblock%}