{%extends "base3.html"%}
{%block title%}Live Prediksi Kematangan{%endblock%}
{%block content%}
<body>
    <h2 style="text-align:center;">Manalagi Live Prediction Result</h2>
    <div class='cont'>
        {%if classes2=="Mentah"%}
          <h5 style="text-align:center;">Mentah</h5>
        {%elif classes2=="Mengkal(Setengah Matang)"%}
          <h5 style="text-align:center;">Mengkal(Setengah Matang)</h5>
        {%elif classes2=="Matang"%}
          <h5 style="text-align:center;">Matang</h5>
        {%else%}
          <h5 style="text-align:center;">Tidak Terdeteksi</h5>
        {%endif%}
      </div>
  <br>
</body>
<footer class="container">
    <p style="text-align:center">&copy; 2021 Kevin Cliff Gunawan &middot; </p>
</footer>
{%endblock%}